button{
  display: flex;
  width: 13rem;
  margin-top: 4rem;
  padding: 1rem 2rem;
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.3rem;
  letter-spacing: 0.06em;
  color: #4C4C4C;
  background: #F1CDB3;
  border: none;
  border-radius: 100px;
  text-decoration: none;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
}
button:hover{
  background: rgb(233 204 183);
}

h1{
  display: flex;
  font-family: Georgia;
  font-weight: normal;
  font-size: 2.3rem;
  margin: 6rem auto;
  width: 9rem;
}

body{
  background-color: blanchedalmond;
}