.image{
    position: absolute;
  }
  img{
    height: 50px;
    width: 50px;
  }
  button{
   margin-top: 90px;
   padding: 10px;
   position: absolute;
  }
  .reset{
    margin-top: 90px;
    margin-left: 100px ;
    padding: 10px;
    position: absolute;
  }