*{
    font-family: Georgia;
}
h1{
    margin: 10rem auto;
    font-size: 8rem;
    color: rgb(25, 27, 29);
}
body{
    display: flex;
    flex-direction: column;
    
}
#button{
    background-color: #f1cdb3;
    border: none;
    border-radius: 100%;
    text-align: center;
    padding: 0.8rem;
    margin: 0 auto;
    font-size: 1rem;
    width: 5rem;
    height: 5rem;
    outline: none;
}
#button:hover{
transform: scale(1.1);

}