* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

:root {
  font-size: 10px;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../marvel.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../marvel.jpg");
  background-attachment: fixed;
}

.container {
  margin: 8rem 9rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .info-container {
  padding: 2rem 0 0 1rem;
}

.container .container_card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.container .container_card .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 45rem;
  background-color: rgba(49, 47, 47, 0.349);
  padding: 1rem;
}

.container .container_card .card p {
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.09rem;
  font-size: 1.2rem;
  color: white;
}

.container .container_card .card p span {
  font-style: italic;
}

.container .container_card .card p:nth-child(2n) {
  padding: 0.5rem 0 0.5rem 0;
}

.container .container_card .card p:first-child {
  font-size: 1.5rem;
  color: white;
}

.container .container_card .card p:first-child span {
  color: #ff8400;
}

.container .container_card .card p li {
  text-decoration: none;
}

.rounded {
  counter-reset: li;
  list-style: none;
  font: 14px "Trebuchet MS", "Lucida Sans";
  padding: 0;
  margin-left: 2rem;
  padding-top: 1rem;
}

.rounded a {
  position: relative;
  display: block;
  padding: .3em 0 .3em 2em;
  margin: .5em 0;
  width: 17rem;
  background: #302926;
  color: #e1dcdc;
  text-decoration: none;
  border-radius: .3em;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.rounded a:hover {
  padding-right: 0;
  font-size: 15px;
}

.rounded a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #919c99b5;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  font-size: 10px;
}

.rounded .no-film {
  position: relative;
  display: block;
  font-size: 15px;
  padding: .3em 0 .3em 2em;
  margin: .5em 0;
  width: 17rem;
  background: #302926;
  color: #e1dcdc;
  text-decoration: none;
  border-radius: .3em;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

@media (max-width: 1100px) {
  .container {
    margin: 5rem 7rem;
  }
  .container .info-container {
    padding: 2rem 0 0 1rem;
  }
  .container .container_card {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */